{:kotoba.app/id "cloud.itonami.isic-2750", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigrh3sqebiulfxpzlas7tcebdif7u7zabankb3souzwbpxmvg5cem", :kotoba.app/embed-url "ipfs://bafkreigrh3sqebiulfxpzlas7tcebdif7u7zabankb3souzwbpxmvg5cem", :published {:archive "https://kotobase.net/ipfs/bafkreigrh3sqebiulfxpzlas7tcebdif7u7zabankb3souzwbpxmvg5cem", :size 72848, :put-status 201, :get-status 200, :at "2026-08-15T14:01:45.446Z"}}
